extends layout

block content
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
    .container
      a.navbar-brand.text-uppercase.text-expanded.font-weight-bold.d-lg-none(href='/') Start Bootstrap
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.mx-auto
          li.nav-item.px-lg-4
            a.nav-link.text-uppercase.text-expanded(href='/')
              | Home
              span.sr-only (current)
          li.nav-item.px-lg-4
            a.nav-link.text-uppercase.text-expanded(href='/about') About
          li.nav-item.px-lg-4
            a.nav-link.text-uppercase.text-expanded(href='/products') Products
          li.nav-item.px-lg-4
            a.nav-link.text-uppercase.text-expanded(href='/store') Store

  section.page-section.clearfix
    .container
      .intro
        img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='/images/intro.jpg' alt='')
        .intro-text.left-0.text-center.bg-faded.p-5.rounded
          h2.section-heading.mb-4
            span.section-heading-upper Fresh Coffee
            span.section-heading-lower Worth Drinking
          p.mb-3
            | Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
          .intro-button.mx-auto
            a.btn.btn-primary.btn-xl(href='#') Visit Us Today!
  section.page-section.cta
    .container
      .row
        .col-xl-9.mx-auto
          .cta-inner.text-center.rounded
            h2.section-heading.mb-4
              span.section-heading-upper Our Promise
              span.section-heading-lower To You
            p.mb-0
              | When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!

  footer.footer.text-faded.text-center.py-5
    .container
      p.m-0.small Copyright &copy; Your Website 2019
  //- // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
