extends layout

block content
  h1.site-heading.text-center.text-white.d-none.d-lg-block
  span.site-heading-upper.text-primary.mb-3 A Free Bootstrap 4 Business Theme
  span.site-heading-lower Business Casual
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
  .container
    a.navbar-brand.text-uppercase.text-expanded.font-weight-bold.d-lg-none(href='#') Start Bootstrap
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.mx-auto
        li.nav-item.px-lg-4
          a.nav-link.text-uppercase.text-expanded(href='/')
            | Home
            span.sr-only (current)
        li.nav-item.px-lg-4
          a.nav-link.text-uppercase.text-expanded(href='/about') About
        li.nav-item.active.px-lg-4
          a.nav-link.text-uppercase.text-expanded(href='/products') Products
        li.nav-item.px-lg-4
          a.nav-link.text-uppercase.text-expanded(href='/store') Store
