extends layout

block content
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
    .container
      a.navbar-brand.text-uppercase.text-expanded.font-weight-bold.d-lg-none(href='#') Start Bootstrap
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.mx-auto
          li.nav-item.px-lg-4
            a.nav-link.text-uppercase.text-expanded(href='/')
              | Home
              span.sr-only (current)
          li.nav-item.px-lg-4
            a.nav-link.text-uppercase.text-expanded(href='/about') About
          li.nav-item.px-lg-4
            a.nav-link.text-uppercase.text-expanded(href='/products') Products
          li.nav-item.px-lg-4
            a.nav-link.text-uppercase.text-expanded(href='/store') Store
  section.page-section
  .container
    .product-item
      .product-item-title.d-flex
        .bg-faded.p-5.d-flex.ml-auto.rounded
          h2.section-heading.mb-0
            span.section-heading-upper Blended to Perfection
            span.section-heading-lower Coffees &amp; Teas
      img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='/images/products-01.jpg' alt='')
      .product-item-description.d-flex.mr-auto
        .bg-faded.p-5.rounded
          p.mb-0
            | We take pride in our work, and it shows. Every time you order a beverage from us, we guarantee that it will be an experience worth having. Whether it&apos;s our world famous Venezuelan Cappuccino, a refreshing iced herbal tea, or something as simple as a cup of speciality sourced black coffee, you will be coming back for more.
  section.page-section
    .container
      .product-item
        .product-item-title.d-flex
          .bg-faded.p-5.d-flex.mr-auto.rounded
            h2.section-heading.mb-0
              span.section-heading-upper Delicious Treats, Good Eats
              span.section-heading-lower Bakery &amp; Kitchen
        img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='/images/products-02.jpg' alt='')
        .product-item-description.d-flex.ml-auto
          .bg-faded.p-5.rounded
            p.mb-0
              | Our seasonal menu features delicious snacks, baked goods, and even full meals perfect for breakfast or lunchtime. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.
  section.page-section
    .container
      .product-item
        .product-item-title.d-flex
          .bg-faded.p-5.d-flex.ml-auto.rounded
            h2.section-heading.mb-0
              span.section-heading-upper From Around the World
              span.section-heading-lower Bulk Speciality Blends
        img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='/images/products-03.jpg' alt='')
        .product-item-description.d-flex.mr-auto
          .bg-faded.p-5.rounded
            p.mb-0
              | Travelling the world for the very best quality coffee is something take pride in. When you visit us, you&apos;ll always find new blends from around the world, mainly from regions in Central and South America. We sell our blends in smaller to large bulk quantities. Please visit us in person for more details.

  footer.footer.text-faded.text-center.py-5
    .container
      p.m-0.small Copyright &copy; Your Website 2019
  //- // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')